<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite">

	<test name="TestProject Thucdoan by Chrome">
		<parameter name="brower" value="chrome"></parameter>
		<classes>
			<class name="automation.testsuite.Day12_Dropdownlist" /> 	
			<class name="automation.testsuite.Day12_Radiocheck" /> 	
		</classes>	
	</test> 
	
	<test name="TestProject Thucdoan by Edge">
		<parameter name="brower" value="edge"></parameter>
		<classes>
			<class name="automation.testsuite.Day12_Dropdownlist" /> 
			<class name="automation.testsuite.Day12_Radiocheck" /> 		
		</classes>	
	</test>
	
</suite> <!-- Suite -->